@*@using Rain.Models;
@using Rain.Services;
@inject Rain.Services.RainService RainService*@
@{
    ViewData["Title"] = "Home Page";

    //var entries = await RainService.GetAllEntries(); // Call the GetAllEntries() method
}


    <!-- Custom CSS -->
<style>
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
        
        .carousel-caption {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
        }
        .carousel-caption h2 {
            font-size: 2.5rem;
            color: #fff;
        }
        .carousel-caption p {
            color: #fff;
        }
        .carousel-caption .btn {
            margin-top: 10px;
        }
        .features {
            padding: 50px 0;
            background-color: #f9f9f9;
        }
        .features .feature {
            text-align: center;
            padding: 20px;
        }
        footer {
            background-color: #343a40;
            color: #fff;
            padding: 30px 0;
        }
        footer .footer-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        footer .footer-content div {
            flex: 1;
            margin: 10px;
        }
        footer a {
            color: #ffc107;
        }

        .heading h2 {
            font-size: 25px;
            font-weight: 800;
            letter-spacing: 0.4px;
            text-transform:uppercase;
            text-align:center;
            padding:20px;
           
        }
        .heading p {
            text-align:center;
        }

       
    </style>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
                <img src="/img/allpictures/sky_1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                    <h2>FOLLOW THE PROGRESS OF OUR WEBSITE!</h2>
                <p>Our website focuses on providing assistance and support to communities in preparing for and effectively responding to natural disasters, such as floods. If you need more information or assistance, please visit our website.</p>
                    <a class="btn btn-warning btn-lg" asp-area="" asp-controller="Home" asp-action="RainView">GET STARTED NOW</a>
                    <a href="#" onclick="scrollToMiddle()" class="btn btn-secondary btn-lg">PREPARATION</a>

            </div>
        </div>
    </div>
</div>

<div class="container features">
    <div class="row">
        <div class="col-md-3 feature">
            <i class="fas fa-chalkboard-teacher fa-3x"></i>
            <h4 style="font-weight:800">Floods</h4>
            <p>Floods are another type of natural disaster that cause various problems, such as flash floods. </p>
        </div>
        <div class="col-md-3 feature">
            <i class="fas fa-laptop fa-3x"></i>
            <h4 style="font-weight:800">What should you do in such a situation?</h4>
            <p>In the event of a disaster, it is crucial to stay calm and follow the correct response procedures. Effective communication and alerts can ensure that help reaches those in need promptly.</p>
        </div>
        <div class="col-md-3 feature">
            <i class="fas fa-graduation-cap fa-3x"></i>
            <h4 style="font-weight:800">Our Services</h4>
            <p>Our website provides essential information and resources to help you prepare for and effectively respond to floods.</p>
        </div>
        <div class="col-md-3 feature">
            <i class="fas fa-scholarship fa-3x"></i>
            <h4 style="font-weight:800">Our Success</h4>
            <p>Our website is highly experienced in providing comprehensive advice and guidance on flood preparedness and response.</p>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
        <div class="col-12">
            <div class="heading">
                <h2 style="font-weight:800">Monitoring and Assessing Rainfall Situations</h2>
                <p>Rainfall situations have a significant impact on the lives and economies of many countries around the world. Monitoring and assessing rainfall is crucial for managing flood risks and planning the use of water resources in the future.</p>
            </div>
        </div>
        <!-- Grid Card -->
        
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top" src="~/img/allpictures/rain_1.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight:800">Preparing for Floods</h5>
                        <p class="card-text">Pack survival kits, plan evacuation routes, and stay updated with news to mitigate flood damage.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top" src="~/img/allpictures/rain_2.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight:800">Protecting Homes from Floods</h5>
                        <p class="card-text">Elevate valuables, install drainage systems, use waterproof materials to seal entry points, and plant trees to absorb water.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top" src="~/img/allpictures/rain_3.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight:800">Flood Warning Systems</h5>
                        <p class="card-text">Follow updates from relevant agencies to stay informed about the situation and be ready to evacuate when a flood warning is issued.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top" src="~/img/allpictures/rain_4.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight:800">Post-Flood Assistance and Recovery</h5>
                        <p class="card-text">Distribute survival kits, repair homes, and provide psychological support to flood victims.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top" src="~/img/allpictures/rain_5.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight:800">Urban Planning to Mitigate Flood Impact</h5>
                        <p class="card-text">Build dams, flood barriers, and design efficient drainage systems. Plan flood zones to minimize damage</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top" src="~/img/allpictures/rain_6.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight:800">Community Roles in Flood Management</h5>
                        <p class="card-text">Establish support networks, conduct evacuation drills, and create joint flood response plans to enhance community resilience.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

    <script>
        function scrollToMiddle() {
            // คำนวณตำแหน่งกลางของหน้าเว็บ
            var middleOfPage = (document.body.scrollHeight - window.innerHeight) / 2;

            // เลื่อนหน้าเว็บไปยังตำแหน่งกลางของหน้าเว็บ
            window.scrollTo(0, middleOfPage);
        }
    </script>

