@using Device.Models;
@using Device.Services;

@inject Device.Services.DeviceService DeviceService
@{
    ViewData["Title"] = "Home Page";

    var entries = await DeviceService.GetAllEntries(); // Call the GetAllEntries() method
}


@model DateTime

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<h1 class="display-4 text-center">Rain Data</h1>
<div class="input-container">
    <input type="text" id="datepicker" name="datepicker" readonly class="center" />
</div>

<br />
<br />
<canvas id="temperatureChart"></canvas>
<canvas id="humidityChart"></canvas>
<canvas id="pressureChart"></canvas>
<canvas id="windChart"></canvas>

<div id="cardContainer" class="row row-cols-1 row-cols-md-3 g-4 mb-5"></div>
@*<div class="col-md-6 col-xl-4">
    <div class="card bg-danger text-white mb-3">
        
    </div>
</div>*@


@*<div id="cardContainer" class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    <!-- Cards will be appended here -->
    
</div>*@

@*<div id="rainfallContainer" >

</div>*@




@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                onSelect: function (dateText) {
                    $.getJSON('/api/Device/filter?', { date: dateText }, function (data) {
                        updateCharts(data);
                    });
                }
            });
        });

        function updateCharts(data) {// Clear all existing chart data
            document.getElementById('temperatureChart').innerHTML = "";
            document.getElementById('humidityChart').innerHTML = "";
            document.getElementById('pressureChart').innerHTML = "";
            document.getElementById('windChart').innerHTML = "";

            // Check if there's data before creating charts
            if (data.length === 0) {
                // Display "No Data" message in all chart containers
                document.getElementById('temperatureChart').innerHTML = "No Data please select new date";
                document.getElementById('humidityChart').innerHTML = "No Data please select new date";
                document.getElementById('pressureChart').innerHTML = "No Data please select new date";
                document.getElementById('windChart').innerHTML = "No Data please select new date";
            } else {
            var temperatureData = data.map(d => d.temperature_C);
            var humidityData = data.map(d => d.humidity);
            var pressureData = data.map(d => d.pressure_hPa);
            var windData = data.map(d => d.wind);

            var labels = data.map(d => d.time);

                // Update Temperature Chart
                new Chart(document.getElementById('temperatureChart'), {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Temperature (°C)',
                            data: temperatureData,
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            x: { beginAtZero: true },
                            y: { beginAtZero: true }
                        }
                    }
                });

                // Update Humidity Chart
                new Chart(document.getElementById('humidityChart'), {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Humidity (%)',
                            data: humidityData,
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            x: { beginAtZero: true },
                            y: { beginAtZero: true }
                        }
                    }
                });

                // Update Pressure Chart
                new Chart(document.getElementById('pressureChart'), {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Pressure (hPa)',
                            data: pressureData,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            x: { beginAtZero: true },
                            y: { beginAtZero: true }
                        }
                    }
                });

                // Update Wind Chart
                new Chart(document.getElementById('windChart'), {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Wind (m/s)',
                            data: windData,
                            borderColor: 'rgba(153, 102, 255, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            x: { beginAtZero: true },
                            y: { beginAtZero: true }
                        }
                    }
                });
             }
            
        }
      
    </script>
}
