html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body { /*เช็คดูอีกที*/
    margin-bottom: 60px;
    background-color: #ece4d4;
}

.input-container {
    text-align: center; /* Center-align the contents */
}

.text-red {
    color: #000; /* เปลี่ยนเป็นสีที่เราต้องการ */
}

.text-light-fw-medium {
    color: #000;
}

.hero-section {       /*---------หน้า about us----------*/
    background-color: #f4f8fb;
    padding: 60px 20px;
    text-align: center;
}

.hero-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.content-section {
    padding: 60px 20px;
}

.content-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.content-section p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 40px;
}

.image-text-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
}

.image-text-block img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.image-text-block.left-image img {
    order: -1;
    margin-right: 0;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .image-text-block {
        flex-direction: column;
    }

    .image-text-block img {
        margin: 0 0 20px 0;
    }

    .image-text-block.left-image img {
        margin: 0 0 20px 0;
    }
}

.content-section { /*About Us*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-text-block {
    display: flex;
    align-items: center;
}

    .image-text-block img {
        margin-right: 20px; /* เพิ่มช่องว่างระหว่างรูปภาพและตัวหนังสือ */
    }

    .image-text-block div {
        max-width: 600px;
    }
