@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
<form asp-controller="Account" asp-action="SignIn" method="get">
    <button type="submit" class="btn btn-primary">Go to Sign In</button>
</form>